.Model {
    width: 100%;
    margin: 1rem auto;
}

.Model_box {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
}

.Model_box_left {
    display: flex;
}

.Model_box_left img {
    height: 565px !important;
    width: 650px !important;
}

.Model_box_right {
    width: 85%;
    height: 100%;
    padding: 0 20px;
}

.Model_box_right h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    /*text-shadow: 2px 0 white;*/
    color: var(--danger);
    text-align: left;
}

.Model_box_right h1 span {
    display: block;
    font-size: 70px;
    text-align: left;
}

.Model_box_right small {
    font-size: 1.2rem;
    color: var(--danger);
}

.Model_box_right_name_info {
    display: flex;
    align-items: center;
    margin-block: 1rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.Model_box_right_name_info input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--danger);
}

.Model_box_right_name_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.Model_box_right_name_btn button {
    outline: none;
    border: none;
    color: var(--danger);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.btn_submit img,
.btn_cancel img {
    height: 30px !important;
    width: 30px !important;
}

/* Responsive at width 1389px*/
@media only screen and (max-width: 1389px) {
    .Model_box_left img {
        height: 590px !important;
    }
}

/* Responsive at width 1106px*/
@media only screen and (max-width: 1106px) {
    .Model_box_right {
        width: 100%; 
    }
}

/* Responsive at width 878px*/
@media only screen and (max-width: 878px) {
    .Model_box_left img {
        height: 600px !important;
        width: 650px !important;
    }
}

/* Responsive at width 855px*/
@media only screen and (max-width: 855px) {
    .Model_box_right h1 {
        font-size: 30px;
    }

    .Model_box_right h1 span {
        font-size: 50px;
    }

    .Model_box_left img {
        height: 466px !important;
        width: 650px !important;
    }
}

/* Responsive at width 768px*/
@media only screen and (max-width: 768px) {
    .Model_box {
        grid-template-columns: 40% 60%;
    }

    .Model_box_right {
        width: 95%;
    }

    .Model_box_left img {
        height: 150px !important;
    }

    .btn_submit img,
    .btn_cancel img {
        height: 20px !important;
        width: 20px !important;
    }
}

/* Responsive at width 650px*/
@media only screen and (max-width: 650px) {
    .Model_box {
        grid-template-columns: 100%;
    }

    .Model_box_left {
        display: none !important;
    }

    .Model_box_right {
        width: 100%;
    }
}

/* Responsive at width 375px*/
@media only screen and (max-width: 375px) {
    .btn_submit img,
    .btn_cancel img {
        display: none !important;
    }

    /*.Model_box_right h1 span {
        font-size: 30px;
    }*/
}