.recordButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recordButton,
  .stopButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
  }

  .recordButton{
    color: var(--danger); /* Default color */
  }

  .stopButton {
    color: red;
  }
  
  .recordButton:hover,
  .stopButton:hover {
    color: #333; /* Darker color on hover */
  }
  
  .stopButton {
    margin-right: 10px; /* Add some spacing between buttons */
  }
  