@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark);
    color: #FFFFFF;
}

::-webkit-scrollbar{
    display: none;
}

a{
    color: inherit;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

:root{
    --dark: #0d0f13;
    --primary: #191d1d;
    --danger: #00e0c7;
}