@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


:root{
    --light: white;
}

[data-theme = "dark"]{
    --dark: #0d0f13;
    --primary: #191d1d;
    --danger: #00e0c7;
}

[data-theme = "light"]{
    --dark: #9d9e9e;
    --primary: #9d9e9e;
    --danger: #00e0c7;
}

html,
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark);
    color: #FFFFFF;
}

::-webkit-scrollbar{
    display: none;
}

a{
    color: inherit;
    text-decoration: none;
}

*{
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}